table {
  position: relative;
  /* padding-right: 10px;
  padding-left: 5px; */
  padding: 0%;
  background: white;
}
th {
  position: sticky;
  top: 0;
 
  background: #0c2a57; 
  color:white;
  white-space: nowrap;
  vertical-align: middle;
  padding: 3px;
  /* padding-right: 10px;
  padding-left: 5px; */
}
td{
  white-space: nowrap;
  padding: 3px;
}
.table-div{
  max-height: calc(100% - 100px);overflow: auto;overflow: auto;
}
.main-container{
  width: 100%;
  position: absolute;
  padding-right: 25px;
  background: white;
  height:calc(100% - 220px);
  overflow-y: auto;  
}
.table-container{
 
  background: white;
  max-height:400px;
  overflow: auto;  
}
.nav-link.active{
  font-size: 16px;
}
.div-category{
  width: 100%;
  background: #8080801f;
  border: 1px solid #00000054;
  height: 35px;
}
.queryListTable{
  max-width: 100%;
  overflow: auto;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-left: 8px;
}
.tab-content{
  background: white;
}
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(201, 200, 200); 
  border-radius: 10px;

}
.icon-size{
  font-size:18px;
}
.theight{
  max-height: 400px;
  overflow: auto;
}
.backctn{
  margin: auto;
  display: flex;
  justify-content: flex-end;
}
.fillHeader{
background: #0c2a57; 
color:white;
}
.generatePDF{
display: inline-block; 
float:right;
margin-top: -53px;
margin-right: 7px;
}

.style-div {
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  justify-content: space-between;
  }


