<section>
  <h1 class="h1-land">ReCast - BI Migration</h1>
  <h6 class="h5-land">
      <i>Provides framework that assists enterprises towards automated report migration wherever feasible by managing
      coversion life cycle right from assesment, strategy defination, migration and post migration review.</i>
  </h6>
  <section>
      <div class="row landing-section container">
        <div class="col-lg-3">
          <button  routerLink="stepper" type="button" class="btn btn-lg btn-block analyze-left-btn"><b>Analyze Source System</b></button>
        </div>
  
        <div class="col-lg-6">
          <img class="land-img" src="/assets/images/recast-home.jpg" alt="recast-home">
        </div>
  
        <div class="col-lg-3">
          <button type="button" class="btn btn-lg btn-block btn-primary analyze-right-btn" disabled><b>Analyze and Migrate Source System</b></button>
        </div>
      </div>
    </section>
</section>
