.source-img {
    width: 90%;
    height: 100%;
}

.column-style {
    border: 3px solid #555;
    border-radius: 5%;
    margin: 2px;
    padding: 3px;
}

.style-btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.style-div {
    position: relative;
    margin-top: 10%;
    display: flex;
    justify-content: flex-end;
}

.radio-style {
    margin: 2%;
    font-size: large;
}

.radio-btn-style {
    margin-right: 5%;
}

.container {
    padding-top: 3%;
}